html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: radial-gradient( black 30%, rgb(255, 102, 0) 10%, black 50%);
}



 h1 {
   font-size: 3em;
   text-align: center;
   background: linear-gradient(red, purple);
   color: white;
   padding: 10px;
   width: 80%;
   margin: auto;
   margin-top: 30px;
   margin-bottom: 50px;
   border: chartreuse dashed 5px;
 }

 #pOne {
   background: linear-gradient(darkorange, orangered);
   font-size: large;
   width: 50em;
   margin: auto;
   margin-bottom: 20px;
   border: groove burlywood 15px;
   padding: 5px;
  
 }
 
 #pTwo {
   background: linear-gradient(orangered, rgb(165, 40, 40));
   font-size: larger;
   color: rgb(209, 179, 134);
   width: 50em;
   margin:auto;
   margin-bottom: 20px;
   border: groove burlywood 15px;
   padding: 5px;
 }

 #pThree {
   background: linear-gradient(rgb(165, 40, 40), rgb(87, 5, 5));
   font-size: larger;
   color: wheat;
   width: 50em;
   margin: auto;
   margin-bottom: 20px;
   border: groove burlywood 15px;
   padding: 5px;
 }

 #pFour {
   background: linear-gradient(rgb(87, 5, 5),black);
   font-size: larger;
   color: white;
   width: 50em;
   border: groove burlywood 15px;
   padding: 5px;
   margin: auto;
 }
 
 h2 {
   color: whitesmoke;
   text-align: center;
   font-size: 60px;
 }
 ol {
   color: whitesmoke;
   font-size: larger;
   list-style: l;
   list-style-position: inside;
   font-size: xx-large;
   margin: auto;
   width: 15em;
 }
 ul {
   color: whitesmoke;
   margin: auto;
   width: 100%;
   list-style: square;
   list-style-position: inside;
}

 .unOrderOne {
   font-size: 40px;
 }
 .unOrderTwo {
   font-size: 40px;
 }
 
 .secOne {
   border: 12px inset grey;
   width: fit-content;
   padding: 10px;
   padding-top: 6px;
   margin: auto;
   margin-bottom: 10px;
   
  }

  .subOne {
    padding-left: 2em;
    font-size: 30px;
  }
  .secTwo {
    border: 12px inset grey;
   width: fit-content;
   padding: 10px;
   padding-top: 6px;
   margin: auto;
   }
  
  .unOrderThree {
    color: whitesmoke;
    font-size: 30px;
  }
  

 footer {
   text-align: right;
   color: whitesmoke;
   position: sticky;
   bottom: 0;
   width: 100%;
   height: 20px;
 }
